body {
  font-family: sans-serif;
}

li span, li a {
  width : 8em;
  display:block;
  float:left;
  padding:2px;
  overflow:hidden;
}

.link {
  text-align:right;
}

.type {
  font-weight: bold;  
  clear:left;
}

.new {
  background:#fee;
}

.used {
  background:#eee;
}

.active {
  background:#cfc;
}

.error {
  background:#fcc;
}

.confirmed {
  background:#dfd;
}

.ready {
  background:#dde;
}

li {
  list-style-type: none;
}